html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#main{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app{
    width: 100%;
    height: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ReactMapGL{
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%;   
}

#map { position: absolute; top: 0; bottom: 0; width: 100%; }
  
.mapboxgl-popup-content {
    background: #008CBA !important;
    padding: 0% !important;
}

.mapboxgl-popup-tip {
    border-width: 0px !important;
}
  

.tooltip {
    border-radius: 6px;
    background: #008CCA;
}

.MuiCardMedia-img{
    padding-top: '56.25%';
}