<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MapOS</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"
    />

    <link rel="shortcut icon" href="{% static "/images/OS_Logo.svg" %}"/>
    <script>
    var treeSVG = "{% static "/images/tree_001.svg" %}"
    var emptySVG = "{% static "/images/empty.svg" %}"
    var toiletSVG = "{% static "/images/toilets.svg" %}"
    var markerSVG = "{% static "/images/marker.svg" %}"
    var DemoJPG = "{% static "/images/Demo.JPG" %}"
    var InfoMapa = "{% static "/images/InfoMapa.JPG" %}"
    var MapN = "{% static "/images/MapN.JPG" %}"


    </script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <div id="main">
      <div id="app"></div>
    </div>


    <script src="{% static "frontend/main.js" %}"></script>

  </body>
</html>